<section class="container">
  <div class="content">
    <p>The goal of our web application is to provide a convenient place to look for 
      reputable videos with which to teach yourself any CS topic. Potential users 
      would include anyone interested in expanding their CS knowledge, from a beginner
      -level to advanced. This website could also be used by existing CS classes in 
      order to provide supplemental material to students that are struggling with 
      course content. Users will be able to search by topic, the university that offers 
      the course/video, the instructors featured in the video, by video titles, by 
      specific course, and combinations of these attributes.
  </p>
  </div>
</section>