<div class="home-container">
  <div class="box"><a href="/editcourse">Edit Courses</a></div>
  <div class="box"><a href="/courses">Search All Courses</a></div>
  <div class="box"><a href="/adduniversity">Add University</a></div>
  <div class="box"><a href="/universities">View All Universities</a></div>
</div>